body, html {
    background:#6DFF9D;
    height: 100%;
    font-family: Arial;
    margin: 10px 0px 0px 0px;
}

#container { 
    width: 500px;
    height: auto;
    background: #25FF00;
    margin: 0 auto;
}


.but {text-align:center;}
.but input {height: 2em; font-size: 1.5em;}

.status {
    border: 1px dotted gray;
    margin: 5px;
    padding: 5px;
}
.title {
    font-weight: bold;
    text-align:center;
    background-color: green;
    color: white;
    margin-top: 0;
}

#footer {
    width: auto;
    border: 2px solid black;
    background: yellow;
    text-align:center;
    margin-top: 20px;
    padding: 5px;
}
#footer input {font-size:20px;}
    
.title{
    text-align:center;
    font-weight:bold;
}

.id {
    float:left;
    display: block; 
    width: auto;
    
    font-weight: bold;
    margin: 5px;
}

.type_name {
    float:left;
    display: block; 
    width: auto;
    margin: 5px;
}
.counter {
    float:left;
    display: block; 
    width: auto;
    margin: 5px;
}

.setupGPIO  {
    float: right;
    width: auto;
    margin: 5px;
}
.setupGPIO input {width:25px; padding: 0 5px 0 10px;}    
    
.button.LOW {
    background-color: green;
}
.button.HIGH {
    background-color: red;
}
.setup {
    background:white;

    width:500px;
    text-align:center;
}
.edit{width:100%;}
.edit tr td:nth-child(1){text-align:right;}
.edit tr td:nth-child(2) {text-align:left;}

/* Form vertical*/
div.fieldSet {
    border: solid black thin;
    border: 0;
    width:500px;
    background-color: #ffffb0;
/*
    margin-bottom: 20px;
*/
}
fieldset {
    border: none;
    margin: 0 0 0 0px;
    padding: 0;
}
legend {
    font-size: 20px;
    background-color: blue;
    color: white;
    width: 500px;
    padding: 0px;
}
label.field {
    text-align: right;
    width: 150px;
    float: left;
    font-weight: bold;
    margin-right: 10px;
}
input.textbox-300 {
/*
    width:200px;
*/
    float:left;
}
fieldset p {
    clear: both;
    padding: 5px;
}
label span, .required {
    color: red;
    font-weight: bold;
}
/* END form */

/* form horizontal*/
.f-h {
    width:500px;
}

.f-h td {
    text-align:center;
}
.f-h input {
    padding:0;
    border: 1 px ;
    text-align :center;
}
/*
table.f-h > tbody > th:first-child {width: 100px; background-color: red;}
*/
.form {
    border: 1px dashed gray;
    background-color:lightyellow;
    margin:5px;
    padding: 5px;
}
td {
    text-align:center;
}
