body, html {
    background:#6DFF9D;
    height: 100%;
    font-family: Arial;
    margin: 10px 0px 0px 0px;
}

#container { 
    width: 500px;
    height: auto;
    background: #25FF00;
    margin: 0 auto;
}


.but {width:100%; text-align:center;}
.but input {width:300px; height: 2em; font-size: 1.5em;}


#footer {
    width: auto;
    border: 2px solid black;
    background: yellow;
    text-align:center;
}
#footer input {font-size:30px;}
    
.title{
    text-align:center;
    font-weight:bold;
}

.id {
    float:left;
    display: block; 
    width: auto;
    
    font-weight: bold;
    margin: 5px;
    
    
}

.type_name {
    float:left;
    display: block; 
    width: auto;
    margin: 5px;
}
.counter {
    float:left;
    display: block; 
    width: auto;
    margin: 5px;
}

.setupGPIO  {
    float: right;
    width: auto;
    margin: 5px;
}
.setupGPIO input {width:25px; padding: 0 5px 0 10px;}    
    
.button.LOW {
    background-color: green;
}
.button.HIGH {
    background-color: red;
}
.setup {
    background:white;

    width:500px;
    text-align:center;
}
.edit{width:100%;}
.edit tr td:nth-child(1){text-align:right;}
.edit tr td:nth-child(2) {text-align:left;}

/* Form */
div.fieldSet {
    border: solid black thin;
    width:500px;
    background-color: #ffffb0;
    margin-bottom: 20px;
}
fieldset {
    border: none;
    margin: 0 0 0 0px;
    padding: 0;
}
legend {
    font-size: 20px;
    background-color: blue;
    color: white;
    width: 100%;
    padding: 0px;
}
label.field {
    text-align: right;
    width: 150px;
    float: left;
    font-weight: bold;
    margin-right: 10px;
}
input.textbox-300 {
    width:200px;
    float:left;
}
fieldset p {
    clear: both;
    padding: 5px;
}
label span, .required {
    color: red;
    font-weight: bold;
}
/* END form */
